<div id="loginPage">
  <div class="row">
    <h1 class="center-align">Dzsentri</h1>
    <div class="card col s6 offset-s3 center-align">
      <div class="card-content">
        <span class="card-title">Bejelentkezés</span>
        <div id="loginResults"></div>
        <script id="loginerror-template" type="text/x-handlebars-template">
          <div class="card-panel {{colour}} white-text">
            <i class="material-icons">{{icon}}</i>
            <strong>{{msg}}</strong>
          </div>
        </script>
        <form id="loginForm" class="col s12" method="post" data-toggle="validator">
          <div class="row">
            <div class="col s12">
              <div class="input-field">
                <input id="loginEmail" type="email" placeholder="E-mail" class="validate" required>
                <label for="loginEmail"></label>
              </div>
              <div class="input-field">
                <input id="loginPassword" type="password" placeholder="Jelszó" class="validate" required>
                <label for="loginPassword"></label>
              </div>
              <button type="submit" class="btn">Bejelentkezés</button>
              <a id="toReg" class="btn btn-flat">Nincs felhasználóm</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="js/components/login.js" defer></script>
