<div id="placeModal" class="modal modal-fixed-footer"></div>
<script  id="placemodal-template" type="text/x-handlebars-template">
  <div class="modal-content">
    <h4><i class="material-icons">location_city</i>Lakhely</h4>
    <form id="placeForm" class="col s12" method="post" data-toggle="validator">
      <div class="row">
        <div class="col s12">
            <input id="placeCountry" type="text" value="{{place.country}}" placeholder="Ország" required {{#if living}}disabled{{/if}}>
            <input id="placeCity" type="text" value="{{place.city}}" placeholder="Város" required {{#if living}}disabled{{/if}}>
            {{#if living}}
              <div class="input-field col s6">
                <input id="placeStartLiving" type="date" class="datepicker" required>
                <label for="placeStartLiving">Odaköltözés</label>
              </div>
              <div class="input-field col s6">
                <input id="placeEndLiving" type="date" class="datepicker">
                <label for="placeEndLiving">Elköltözés</label>
              </div>
              <div class="input-field col s12">
                <input id="placeStreet" type="text" placeholder="Utca, házszám" required>
              </div>
            {{/if}}
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button id="placeSubmit" type="submit" class="btn">Hozzáadás</button>
  </div>
</script>
